body {
  font-size:24px;
  font-weight:bold;
}

.lesson {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.exercise {
  padding:20px;
  display:flex;
  flex-direction:column;
}

.substract {
  display:flex;
  flex-direction:row;
}

.substract-right {
  margin-top:30px;
}

.score{
  font-size:12px;
  color:gray;
}

.choice{

  display: flex;
  flex-direction: row;
  padding: 20px;
}

.a>.dots>.dot{
  background-color: #FF5800 ;
}

.b>.dots>.dot{
  background-color: #FF7900;
}

.dot {
  height: 45px;
  width: 45px;
/*   border-radius: 50%; */
  display: inline-block;
  margin-right:5px;
}




.blue {
  background-color: #bbb;
}

